@keyframes donut {
  0% {
    transform: rotate(-15deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(15deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(-15deg);
    transform-origin: top;
  }
}

@keyframes candy_1 {
  0% {
    top: -100%;
  transform: rotate(-80deg);
  }
  50% {
    transform: rotate(10deg);
    transform: scale(1.7);
  }
  100% {
    top: 100%;
    transform: rotate(40deg);
  }
}

@keyframes candy_2 {
  0% {
    top: -150%;
  transform: rotate(80deg);
  }
  40% {
  transform: rotate(-90deg);
  }
  70% {
    transform: scale(1);
  }
  100% {
    top: 100%;
    transform: rotate(40deg);
  }
}

@keyframes candy_3 {
  0% {
    top: -150%;
  transform: rotate(-40deg);
  }
  40% {
  transform: rotate(90deg);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    top: 180%;
    transform: rotate(-135deg);
  }
}

@keyframes candy_4 {
  0% {
    top: -180%;
    transform: scale(1.2);
  }
  40% {
  transform: rotate(90deg);
  }
  70% {
    transform: rotate(-40deg);
  }
  100% {
    top: 100%;
    transform: rotate(35deg);
  }
}

@keyframes candy_5 {
  0% {
    top: -150%;
    transform: rotate(35deg);
  }
  40% {
  transform: rotate(-90deg);
  }
  70% {
    transform: rotate(125deg);
  }
  100% {
    top: 120%;
    transform: scale(1.5);
  }
}

@keyframes candy_6 {
  0% {
    top: -150%;
    transform: rotate(-75deg);
  }
  35% {
  transform: rotate(30deg);
  }
  85% {
    transform: rotate(-40deg);
  }
  100% {
    top: 150%;
    transform: rotate(35deg);
  }
}

@keyframes candy_7 {
  0% {
    top: -150%;
    transform: rotate(18deg);
  }
  40% {
  transform: rotate(-150deg);
  }
  70% {
    transform: scale(1.2);
    transform: rotate(-40deg);
  }
  100% {
    top: 150%;
    transform: rotate(175deg);
  }
}

@keyframes candy_8 {
  0% {
    top: -150%;
    transform: rotate(180deg);
  }
  40% {
  transform: rotate(-10deg);
  }
  70% {
    transform: scale(1.2);
    transform: rotate(-40deg);
  }
  100% {
    top: 150%;
    transform: rotate(30deg);
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
  
@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes santa {
  0% {
    transform: translateY(110%);
  }
  20% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(110%);
  }
}

@keyframes advent {
  0%  {
    transform: translateY(50%);
  }
  20% {
    transform: translateY(175%);
  }
  50% {
    transform: translateY(175%);
  }
  70% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes snow_rot {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes num {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  25% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-60deg);
    transform-origin: left;
  }
  75% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes present { 0% { background-position: 0px 0; } 100% { background-position: -1918px 0; } }

@keyframes lin_1 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes lin_2 {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes lin_3 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes burger_1 {
  0% {transform: translateY(-300%);}
  60% { transform: translateY(0%);}
  100%{ transform: translateY(0%);}
}

@keyframes burger_2 {
  0% {transform: translateY(-300%);}
  45% { transform: translateY(0%);}
  100%{ transform: translateY(0%);}
}

@keyframes burger_3 {
  0% {transform: translateY(-300%);}
  30% { transform: translateY(0%);}
  100%{ transform: translateY(0%);}
}

@keyframes burger_star {
  0% {transform: translateY(-300%);}
  75% { transform: translateY(0%); opacity: 1;}
  78% { transform: translateY(0%); opacity: 0.7}
  81% { transform: translateY(0%); opacity: 1}
  84% { transform: translateY(0%); opacity: 0.7}
  87% { transform: translateY(0%); opacity: 1}
  90% { transform: translateY(0%); opacity: 0.7;}
  93% { transform: translateY(0%); opacity: 1}
  96% { transform: translateY(0%); opacity: 0.7}
  99% { transform: translateY(0%); opacity: 1}
  100%{ transform: translateY(0%); opacity: 0.7}
}


@keyframes text_H {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes cup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes letter_1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-1.5vw) translateX(-7vw) rotate(-10deg) scale(1.4);
  }
  70% {
    transform: translateY(-1.5vw) translateX(-7vw) rotate(-10deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_2 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-0.5vw) translateX(-3.5vw) rotate(10deg) scale(1.5);
  }
  70% {
    transform: translateY(-0.5vw) translateX(-3.5vw) rotate(10deg) scale(1.5);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_3 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-2.3vw) translateX(-1vw) rotate(-15deg) scale(1.5);
  }
  70% {
    transform: translateY(-2.3vw) translateX(-1vw) rotate(-15deg) scale(1.5);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_4 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-1.5vw) translateX(3vw) rotate(6deg) scale(1.5);
  }
  70% {
    transform: translateY(-1.5vw) translateX(3vw) rotate(6deg) scale(1.5);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_5 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-2vw) translateX(7vw) rotate(20deg) scale(1.4);
  }
  70% {
    transform: translateY(-2vw) translateX(7vw) rotate(20deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_6 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(1vw) translateX(-5.2vw) rotate(25deg) scale(1.4);
  }
  70% {
    transform: translateY(1vw) translateX(-5.2vw) rotate(25deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_7 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(0vw) translateX(-2.5vw) rotate(-4deg) scale(1.4);
  }
  70% {
    transform: translateY(0vw) translateX(-2.5vw) rotate(-4deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_8 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(2.5vw) translateX(-0.5vw) rotate(20deg) scale(1.4);
  }
  70% {
    transform: translateY(2.5vw) translateX(-0.5vw) rotate(20deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_9 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-0.8vw) translateX(-0.3vw) rotate(-15deg) scale(1.4);
  }
  70% {
    transform: translateY(-0.8vw) translateX(-0.3vw) rotate(-15deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_10 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(1.7vw) translateX(1.5vw) rotate(7deg) scale(1.4);
  }
  70% {
    transform: translateY(1.7vw) translateX(1.5vw) rotate(7deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_11 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-2.3vw) translateX(1vw) rotate(25deg) scale(1.4);
  }
  70% {
    transform: translateY(-2.3vw) translateX(1vw) rotate(27deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_12 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-0.7vw) translateX(2.7vw) rotate(-40deg) scale(1.4);
  }
  70% {
    transform: translateY(-0.7vw) translateX(2.7vw) rotate(-40deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_13 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(2vw) translateX(4vw) rotate(25deg) scale(1.4);
  }
  70% {
    transform: translateY(2vw) translateX(4vw) rotate(25deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes letter_14 {
  0% {
    transform: translateY(0) rotate(0);
  }
  30% {
    transform: translateY(-2vw) translateX(5vw) rotate(5deg) scale(1.4);
  }
  70% {
    transform: translateY(-2vw) translateX(5vw) rotate(5deg) scale(1.4);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes hand {
  0% {
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }
  50% {
    transform: rotate(25deg);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }
}

@keyframes star {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes patern_in { 0% { background-position: 0% 0; } 100% { background-position: 95% 0; } }

@keyframes patern_out { 0% { background-position: 95% 0; } 100% { background-position: 0% 0; } }

@keyframes tree { 0% { transform: translateY(0%) } 100% { transform: translateY(-61%) } }

@keyframes pizza1 {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes pizza2 {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes clink {
  0% {
    animation-delay: 0.6s;
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes text_clink {
  0% {
    transform: scale(0);
  }
  15% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes num_23 {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  25% {
    transform: rotateY(-87deg);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-75deg);
    transform-origin: left;
  }
  75% {
    transform: rotateY(-87deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes footer {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-20.7%);
  }
  40% {
    transform: translateX(-20.7%);
  }
  50% {
    transform: translateX(-41%);
  }
  65% {
    transform: translateX(-41%);
  }
  75% {
    transform: translateX(-62%);
  }
  90% {
    transform: translateX(-62%);
  }
  100% {
    transform: translateX(-82%);
  }
}

@keyframes snow {
  0% {
  opacity: 1;
  filter: hue-rotate(0deg);
  }
  100% {
  transform: translate(50%, 1000%);
  filter: hue-rotate(360deg);
  opacity: 0;
}
}